/*
* General
*/

$primary-color: #0062ff;
$secondary-color: #06152b;
$terciary-color: #f1f4fa;
$dark: #06152b;
$light: #f1f4fa;
$red: #eb4648;
$orange: #ff974a;
$green: #3cd598;
$grey: #92929d;
$warning-color: #fc5a5a;
$blue: #3a36db;
$white: #FFFFFF;

/*
 * Fonts
 */
$soft-text-color: #9bb8d3;
$hard-text-color: #06152b;
$ligh-text-color: #999999;

$shadow: -1px -7px 10px -10px rgba(0, 0, 0, 0.62);