@import "../../../styles/base/base.scss";

.ant-layout,
.ant-layout * {
  background-color: transparent;
}
.ant-menu-item-selected {
  color: $white !important;
  background-color: $primary-color !important;
}
.layout {
  &-header {
    background-color: $white !important;
    &-logo_container {
      width: min-content;
      height: min-content;
      &-logo {
        width: 100px;
        height: 50px;
        object-fit: contain;
      }
    }
  }
  &-sider {
    background-color: transparent !important;
    height: 100vh;
    margin: 30px 0;
    padding: 20px;
    &-menu {
      background-color: transparent !important;
      &-item {
        border-radius: 10px;

        &-available {
          &:hover {
            color: $primary-color !important;
          }
        }
      }
    }
  }
  &-content {
    background-color: $white !important;
    border-radius: 20px;
    margin: 50px 20px;
    padding: 20px;
  }
}
